* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #54bc4ae0);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.background {
  background-color: #437198;
  min-height: 100%;
  position: relative;
}

.title {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  background-color: #437198;
}

.card {
  padding: 2em;
  margin-left:3em;
  margin-right:3em;
  background: #395E7C;
  border-radius: 5px;
}

.me {
  padding: 1em;
  color: white;
}

.icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}